<h1>Add a new project</h1>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="project_title">Project Title</label>
    <input id="t" name="project_title" style="width: 300px"  class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Add project</button>
</form>

<p><a href="/projects">Return to project list</a></p>