<h1>Current Projects</h1>


<div class= "current">
<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<% else %> 
  <p>There are currently no projects at this moment. Check back later!</p>
<% end %>
</div>
<br>


<form action="/projects/new" method="get">
  <button type="submit" name="button">Add a new Project</button>
</form>
<br>
<form action="/projects">
  <div class="form-group">
    <label for="search" >Search for a Project</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
</div>

<p><a href="/index">Return to the Homepage</a></p>